<div id="form-holder" class="m-5 p-5 d-flex justify-content-around align-items-center">

  <div id="login">
    <h2>Login</h2>
    <form id="login-form">
      <div class="form-group">
        <label for="login-username">Username</label>
        <input type="username" class="form-control" id="username-login">
      </div>
      <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" class="form-control" id="username-password">
      </div>
      <button id="login-btn" type="submit" class="btn btn-primary">Login!</button>
    </form>
  </div>

  <div id="signup">
    <h2>Create your account</h2>
    <form id="signup-form">
      <div class="form-group">
        <label for="signup-username">Username</label>
        <input type="username" class="form-control" id="signup-username">
      </div>
      <div class="form-group">
        <label for="signup-password">Password</label>
        <input type="password" class="form-control" id="signup-password">
      </div>
      <button id="signup-btn" type="submit" class="btn btn-primary">Sign Up!</button>
    </form>
  </div>

</div>