<div class="p-3">
  <h2>Post Shoe</h2>
</div>
<form id="new-shoe">
  <div class="form-group m-3">

    <label for="exampleFormControlTextarea1">Name</label>
    <input id="shoe-name" name="shoe-name" class="form-control" id="exampleFormControlTextarea1" rows="1"></input>

    <label for="exampleFormControlTextarea1">Brand</label>
    <input id="shoe-brand" name="shoe-brand" class="form-control" id="exampleFormControlTextarea1" rows="1"></input>

    <label for="exampleFormControlTextarea1">Style</label>
    <input id="shoe-style" name="shoe-style" class="form-control" id="exampleFormControlTextarea1" rows="1"></input>
    {{!-- <div class="container">
      <button onclick="uploadFiles()">Open the Uploader</button>
    </div> --}}
    <br>
    <button type="submit" class="btn btn-primary active" role="button" aria-pressed="true">Post
      Shoe</button>

</form>

<script src="/js/newshoe.js"></script>
