<div class="p-3">
  <h2>Your Collection</h2>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
    Post New Shoes
  </button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Post New Shoes</h5>
          <button type="button" data-toggle="modal" data-target="#myModal" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- add form here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="collection" class="flex-wrap d-flex">
  {{#each User.shoes}}
  <div class="card m-5 text-center" style="width: 25rem;">
    <img src="uploaded image here" class="card-img-top" alt="panda">
    <div class="card-body">
      <h5 class="card-title">{{shoes.name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{shoes.brand}}</li>
      <li class="list-group-item">{{shoes.style}}</li>
    </ul>
    <div class="card-body">
      <a id="edit-btn" href="/edit/{{id}}" class="card-link">Edit</a>
    </div>
  </div>
  {{/each}}

</div>

{{!-- <script src="/js/newshoes.js"></script> --}}
